.idea/
.vscode/
*.txt
!requirements.txt
*.log
**/logs/*
**/__pycache__/

\.idea/

*reports*

*versions*

venv/

.venv/

*.egg-info

Dockerfile

TO-DO/*

xtra/*

*tests/Check*
test_object_tests/DP
cc1312_config.jlink

*.jpeg
*.hex
